@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'Archer-Bold';
    src: url('../fonts/Archer-Bold.eot');
    src: url('../fonts/Archer-Bold.eot') format('embedded-opentype'),
    url('../fonts/Archer-Bold.woff') format('woff'),
    url('../fonts/Archer-Bold.ttf') format('opentype'),
    url('../fonts/Archer-Bold.svg') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Archer-Medium';
    src: url('../fonts/Archer-Medium.eot');
    src: url('../fonts/Archer-Medium.eot') format('embedded-opentype'),
    url('../fonts/Archer-Medium.woff') format('woff'),
    url('../fonts/Archer-Medium.ttf') format('opentype'),
    url('../fonts/Archer-Medium.svg') format('svg');
    font-weight: 100;
    font-style: normal;
}